<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.hanafamily.user.mapper.UserMapper">

  <select id="getUser" resultType="kr.ac.kopo.hanafamily.user.domain.UserDTO">
    SELECT *
    FROM tb_users
    WHERE
      USER_ID = #{userId}
      AND USER_PW = #{userPw}
  </select>

  <select id = "getUserById" parameterType="String" resultType="kr.ac.kopo.hanafamily.user.domain.UserDTO">
    SELECT
      *
    FROM tb_users
    WHERE user_id = #{userId}
  </select>

  <select id = "selectUserByNo" parameterType="Integer" resultType="kr.ac.kopo.hanafamily.user.domain.UserDTO">
    SELECT
      *
    FROM tb_users
    WHERE user_no = #{userNo}
  </select>

  <select id = "getPhoneNumberById" parameterType="String" resultType="String">
    SELECT
      user_phone_no
    FROM tb_users
    WHERE user_id = #{userId}
  </select>

  <select id = "getPhoneNumberByNo" parameterType="Integer" resultType="String">
    SELECT
      user_phone_no
    FROM tb_users
    WHERE user_no = #{userNo}
  </select>

  <insert id="insertFamily" useGeneratedKeys="true" keyProperty="familyId" keyColumn="family_id" parameterType="kr.ac.kopo.hanafamily.invitation.dto.FamilyDTO">
    INSERT INTO tb_family (family_registration_date, family_status, family_invitation_date, family_invitation_status)
    VALUES (SYSDATE, 'ACTIVE', SYSDATE, 'ACCEPTED')
  </insert>

  <update id="updateUserFamilyId">
    UPDATE tb_users SET family_id = #{familyId} WHERE user_id = #{userId}
  </update>

  <select id="getUserFamilyId" resultType="Integer">
    SELECT family_id FROM tb_users WHERE user_id = #{userId}
  </select>

  <!-- resultMap을 사용한 매핑 -->
  <resultMap id="FamilyMemberMap" type="kr.ac.kopo.hanafamily.user.domain.FamilyMemberDTO">
    <!-- familyId 매핑 -->
    <id property="familyId" column="family_id"/>

    <!-- familyMembers 매핑: 여러 개의 UserDTO를 familyMembers에 매핑 -->
    <collection property="familyMembers" ofType="kr.ac.kopo.hanafamily.user.domain.UserDTO">
      <id property="userNo" column="user_no" /> <!-- userNo 매핑 -->
      <result property="userId" column="user_id"/>
      <result property="userName" column="user_name"/>
      <result property="userPhoneNo" column="user_phone_no"/>
      <result property="userEmail" column="user_email"/>
      <result property="userStatus" column="user_status"/>
    </collection>
  </resultMap>

  <!-- 패밀리 멤버를 조회하는 쿼리 -->
  <select id="getFamilyMembers" parameterType="Integer" resultMap="FamilyMemberMap">
    SELECT
      family_id,
      user_no,
      user_id,
      user_name,
      user_phone_no,
      user_email,
      user_status
    FROM tb_users
    WHERE family_id = #{familyId}
  </select>

  <!-- 사용자 번호 리스트로 사용자 정보를 조회하는 쿼리 -->
  <select id="getUsersByUserNos" resultType="kr.ac.kopo.hanafamily.user.domain.UserNameDTO">
    SELECT user_no, user_name
    FROM tb_users
    WHERE user_no IN
    <foreach item="userNo" collection="list" open="(" separator="," close=")">
      #{userNo}
    </foreach>
  </select>

  <select id="getFamilyMembersWithoutMe" parameterType="Integer" resultMap="FamilyMemberMap">
    SELECT
      family_id,
      user_no,
      user_id,
      user_name,
      user_phone_no,
      user_email,
      user_status
    FROM tb_users
    WHERE family_id = #{familyId}
      AND user_no != #{userNo}
  </select>
</mapper>

