.assets-title-container {
  width: 100%;
  background-color: rgba(30, 219, 156, 0.201);
  font-family: "CustomFont";
  min-height: 200px;
  display: flex;
}

.assets-title {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assets-title h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.assets-register-button-container {
  width: 250px;
}

.assets-register-button {
  width: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #009178;
  font-size: 19px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
