/* CustomCalendar.css */

.event {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  color: #000; /* 기본 텍스트 색상을 검은색으로 설정 */
}

.event[data-type="수입"] {
  color: red; /* 수입 텍스트 색상을 빨간색으로 설정 */
}

.event[data-type="지출"] {
  color: blue; /* 지출 텍스트 색상을 파란색으로 설정 */
}

.highlight-today {
  background-color: #ffcccc !important;
  color: white !important;
  font-weight: bold;
}

.selected-date {
  background-color: #ff6666 !important;
  color: white !important;
}

.react-calendar__tile abbr {
  color: black; /* 날짜 텍스트를 검정색으로 변경 */
}
.main-content {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.calendar-container {
  width: 40%;
}

.budget-container,
.schedule-container {
  margin: 10px;
}

form {
  margin-top: 20px;
}

input,
select {
  margin: 5px;
}

button {
  margin-top: 10px;
}

/* 이벤트 기본 스타일 */
.fc-event {
  text-decoration: none !important; /* 밑줄 제거 */
  color: black; /* 텍스트 색상 */
}

/* 링크의 기본 스타일 제거 */
a {
  text-decoration: none !important; /* 모든 링크의 밑줄 제거 */
  color: black; /* 텍스트 색상 */
}

/* 일요일 빨간색 */
.fc .fc-day-sun {
  /* background-color: #fff5f5; 연한 빨간색 배경 */
  color: red; /* 글자 색상 빨간색 */
}

/* 토요일 파란색 */
.fc .fc-day-sat {
  /* background-color: #f0f8ff; 연한 파란색 배경 */
  color: blue; /* 글자 색상 파란색 */
}

/* 캘린더 셀에 보더 추가 */
.fc .fc-daygrid-day {
  border: 1px solid #ccc; /* 셀 보더 */
}

.fc {
  border-bottom: 0.5px solid #ccc; /* 날짜 위에 있는 부분에도 보더 추가 */
}

.fc-toolbar-title {
  font-size: 25px !important; /* 캘린더 제목 폰트 크기 */
}
