#Footer {
  height: 300px;
  background-color: rgb(26, 26, 26);
  /* padding: 50px 20px; */
  color: white;
  width: 100%;
}

.footer-box {
  border-bottom: 1.5px solid rgb(127, 127, 127);
  height: 20%;
}

.footer-top {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
  height: 60%;
}

.img-footer-logo {
  width: 250px;
  height: 50px;
}

p {
  margin: 0;
}
