/* 전체 컨테이너 */
.joint-assets-list-container {
  width: 620px;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  display: flex;
  justify-content: space-between;
  /* background-color: #fcfcfc; */
  font-family: "Pretendard-Regular";
}

.joint-assets-list-content {
  display: flex;
  justify-content: space-between;
  /* width: 80%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-top: 20px; */
}

.joint-assets-list {
  background-color: #f0f0f0;
  width: 620px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 20px 36px;
  row-gap: 40px;
  column-gap: 40px;
}
