.auth-tabs-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.react-tabs__tab {
  list-style: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  background-color: transparent;
  transition: color 0.3s ease-in-out;
}

.react-tabs__tab--selected {
  color: white;
  background-color: #3b5998;
  border-radius: 20px;
}

.auth-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 25px;
  border: 1px solid #ddd;
}

.submit-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #000;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
